# The name of LLM model to use.
#MODEL=gpt-3.5-turbo-0125

# The OpenAI API key to use.
# OPENAI_API_KEY=

# The LLM model to use (hardcode to front-end artifact).
#NEXT_PUBLIC_MODEL=gpt-3.5-turbo-0125

OLLAMA_SERVER=http://192.168.1.138:11434
OLLAMA_SERVER_MODEL=mistral

LLAMA_CLOUD_API_KEY=llx-ezFAKExKeyDsTMARwd7sTSHUjL21EzJJxJ3bykFq5PTERIrN



